In [2]:
import numpy as np
import pandas as pd

In [3]:
# Random seed for reproducibility
np.random.seed(123)

# Creating an imbalanced data
samples = 1000

class_0_ratio = 0.9
samples_0 = int(samples * class_0_ratio)
samples_1 = samples - samples_0

In [4]:
samples_0, samples_1

(900, 100)

In [5]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=samples_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=samples_0),
    'target': [0] * samples_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=samples_1),
    'feature_2': np.random.normal(loc=0, scale=1, size=samples_1),
    'target': [1] * samples_1
})

In [6]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [7]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [8]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [9]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [10]:
# Upsampling
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority,
                                 replace=True,
                                 n_samples=len(df_majority),
                                 random_state=42)

In [11]:
df_minority_upsampled.shape

(900, 3)

In [13]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952  -0.811098   0.189189       1
965   1.919526  -0.019459       1
976   0.810326   1.604614       1
942   1.621531   0.168229       1
974  -0.839113   0.489203       1

[1800 rows x 3 columns]

In [14]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [16]:
# Downsampling
df_majority_downsampled = resample(df_majority,
                                 n_samples=len(df_minority),
                                 random_state=42)

In [17]:
df_majority_downsampled.shape

(100, 3)

In [18]:
downsampled = pd.concat([df_minority, df_majority_downsampled])
downsampled

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1
..         ...        ...     ...
201  -0.598105   1.575650       0
269   0.420180   0.570631       0
862  -0.392309   0.446491       0
815  -0.148405  -0.457929       0
270  -1.213385   0.675504       0

[200 rows x 3 columns]

In [19]:
downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64