In [8]:
for i in range(1,-5,-2):
    print(i)

1
-1
-3

In [19]:
i=0
while i<10:
    if i==3:
        i+=1
        pass
    print(i)
    i+=1

0
1
2
4
5
6
7
8
9

In [1]:
def add(a,b):
    return f"The addition is: {a+b}"
a, b = int(input()), int(input())
print(add(a,b))

The addition is: 7

In [2]:
n= int(input())
t=0
total=0
while t<=n:
    total+=t
    t+=1

print(total)

15

In [5]:
n= int(input())
total=0
for i in range(1,n+1):
    total+=i

total

55

In [10]:
lst=[]
a=False
for num in range(2,101):
    for i in range(2,num):
        if num%i==0:
            a=True
    if a==False:
        lst.append(num)
    a=False

In [11]:
lst

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [16]:
a=int(input())
b=int(input())
c= lambda a,b:a+b
print(c(a,b))

7

In [20]:
list(map(lambda x:x**2, lst))

[4,
 9,
 25,
 49,
 121,
 169,
 289,
 361,
 529,
 841,
 961,
 1369,
 1681,
 1849,
 2209,
 2809,
 3481,
 3721,
 4489,
 5041,
 5329,
 6241,
 6889,
 7921,
 9409]

In [7]:
people = [
    {'name':'Aditya','age':22},
    {'name':'Ashish','age':32}
]

def greater(person):
    return person['age']>25
    
lst = list(filter(greater,people))
lst

[{'name': 'Ashish', 'age': 32}]

In [10]:
a = [1,2,3,4,5,6]
list(filter(lambda x:x>3 and x%2==0,a))

[4, 6]