In [ ]:
## Positional argument in function

def print_details(*args):

    print(args)

print_details(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [8]:
## Keyword argumnets
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
print_details(name="Adi",age=22)

name:Adi
age:22

**Example 1- Temperature convert**

In [9]:
def convert(temp, unit):
    if unit=="C":
        return temp*9/5 +32
    elif unit=="F":
        return (temp-32)*5/9
print(convert(25,'C'))
print(convert(77,'F'))

77.0
25.0

In [10]:
## Lambda function
fn = lambda a,b:a+b
type(fn)

function

In [11]:
print(fn(2,3))

5

In [12]:
fn1= lambda num: num%2==0
print(fn1(4))

True

In [15]:
def square(x):
    return x**2

In [ ]:
## map() - Applies the function to all numbers in a lst / collection
numbers= [1,2,3,4,5]
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25]

In [16]:
list(map(square,numbers))

[1, 4, 9, 16, 25]

In [19]:
nums1=[1,2,3]
nums2=[4,5,6]
added=list(map(lambda x,y:x+y, nums1, nums2))
print(added)

[5, 7, 9]

In [21]:
str1=['1','2','3']
nums=list(map(lambda x:int(x),str1))
type(nums[0])

int

In [23]:
def get_name(people):
    return people['age']
people =[
    {'name':'adi','age':22},
    {'name':'ani','age':24}
]

list(map(get_name,people))

[22, 24]