In [1]:
import pandas as pd
from io import StringIO

In [5]:
data = '[{"name":"james","email":"james@mail","job":"developer"}]'
pd.read_json(StringIO(data))

    name       email        job
0  james  james@mail  developer

In [6]:
df1 = pd.read_excel('data.xlsx')
df1

    Name  Age
0  Krish   32
1   Jack   34
2   John   31

In [8]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp39-cp39-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 2.1 MB/s eta 0:00:02
   ----------- ---------------------------- 1.0/3.8 MB 2.4 MB/s eta 0:00:02
   ---------------------- ----------------- 2.1/3.8 MB 2.9 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 2.9 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.0 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

WARNING: Ignoring invalid distribution -orch (d:\python\code\venv\lib\site-packages)
WARNING: Ignoring invalid distribution -orch (d:\python\code\venv\lib\site-packages)
WARNING: Ignoring invalid distribution -orch (d:\python\code\venv\lib\site-packages)

In [9]:
# From web

url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"
frame = pd.read_html(url)
df = frame[0]  
df.head()

,Country or territory,Population (1 July 2022),Population (1 July 2023),Change (%),UN continental region[1],UN statistical subregion[1]
0,World,8021407192,8091734930,+0.88%,–,–
1,India,1425423212,1438069596,+0.89%,Asia,Southern Asia
2,China[a],1425179569,1422584933,−0.18%,Asia,Eastern Asia
3,United States,341534046,343477335,+0.57%,Americas,Northern America
4,Indonesia,278830529,281190067,+0.85%,Asia,South-eastern Asia

In [11]:
df1 = frame[1]
df1.head()

,vteLists of countries by population statistics,vteLists of countries by population statistics.1
0,Global,Current population United Nations Demographics...
1,Continents/subregions,Africa Antarctica Asia Europe North America Ca...
2,Intercontinental,Americas Arab world Commonwealth of Nations Eu...
3,Cities/urban areas,World cities National capitals Megacities Mega...
4,Past and future,Past and future population World population es...