In [1]:
import sqlite3

In [2]:
# Connect to Sqlite database

connection = sqlite3.connect('exmaple.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a table

cursor.execute('''
Create table employees(
    id integer Primary key,
    name text not null,
    age int,
    department text
    )
''')

# Commit change
connection.commit()

In [5]:
cursor.execute('''
select * from employees
''')

In [6]:
# Insert operation

cursor.execute('''
insert into employees (name,age,department)
               values ('Aditya',22,'AI&DS')
''')

In [8]:
cursor.execute('''
insert into employees (name,age,department)
               values ('Bob',25,'CS')
''')

cursor.execute('''
insert into employees (name,age,department)
               values ('Charlie',21,'IT')
''')

connection.commit()

In [9]:
# Query to extract

cursor.execute('select * from employees')
rows = cursor.fetchall()

# Print
for i in rows:
    print(i)

(1, 'Aditya', 22, 'AI&DS')
(2, 'Bob', 25, 'CS')
(3, 'Charlie', 21, 'IT')

In [11]:
# Update the data

cursor.execute('''
Update employees
set age=18
where name='Aditya'
''')

connection.commit()

In [13]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

# Print
for i in rows:
    print(i)

(1, 'Aditya', 18, 'AI&DS')
(2, 'Bob', 25, 'CS')
(3, 'Charlie', 21, 'IT')

In [17]:
# Delete the data

cursor.execute('''
delete from employees
 where name='Bob'
''')

connection.commit()

In [18]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

# Print
for i in rows:
    print(i)

(1, 'Aditya', 18, 'AI&DS')
(3, 'Charlie', 21, 'IT')

In [19]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',data)

connection.commit()

In [20]:
cursor.execute('select * from sales')
rows = cursor.fetchall()

# Print
for i in rows:
    print(i)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [21]:
# Close the connection

connection.close()